@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;900&display=swap');
  *{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    list-style: none;
    text-decoration: none;
    
 }
 html{
  scroll-behavior: smooth;
}

 body{
    background-color: #F9FAFB;
    /* background-color: #eaeaea63; */
}

.container{
    width: 75%;
    margin: 0 auto;
 }
